@import '@/utils/styles/variable.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 40px;
}

.imageSection {
    align-items: center;
    background: $primaryGradient;
    border-radius: 10px;
    box-shadow: $tertiaryShadow;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin-bottom: 10px;
    min-height: 70vh;
    padding: 20px;
    width: 100%;
    margin-top: 40px;
}

.fileUpload {
    background: $primaryGradient;
    border-radius: 5px;
    border: none;
    box-shadow: $primaryShadow;
    color: $primaryTextColor;
    cursor: pointer;
    font-size: $font-14;
    font-weight: $font-600;
    margin: 20px 0px;
    padding: 15px 35px;
    text-align: center;
    transition: $secondaryTransition;

    span {
        margin-right: 10px;
        i::before {
            font-weight: $font-600 !important;
        }
    }

    &:hover {
        background: $primaryTextColor;
        color: $white;
        transform: translateY(5px);
    }

    input {
        display: none;
    }
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 40px;
    flex-wrap: wrap;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 80vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.7;

    p {
        margin: 10px;
        text-align: center;
    }

    img {
        width: 80px;
        height: 80px;
        display: inline-block;
    }
}

.multiImageSection {
    justify-content: space-between;
}

.twoSectionPreview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

.dataSetSection {
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    width: 50%;
    justify-content: center;

    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }

    h4 {
        height: 100px;
        text-align: center;
    }

    img {
        border-radius: 5px;
        width: 100px;
        height: 100px;
        object-fit: contain;
    }

    .imageArea {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 120px;
        padding: 10px;
        border: 1px solid $borderColor;
        border-radius: 5px;
        margin: 10px;
        height: min-content;

        span {
            margin: 5px 0;
            word-break: break-all;
            max-width: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    > div {
        display: flex;
        flex-wrap: wrap;
        overflow-x: hidden;
        overflow-y: auto;
        height: 500px;
        min-width: 100%;
        border-radius: 10px;
        box-shadow: inset 0 0 10px 0 #222222;
        padding: 10px;
    }
}

.queryImageSection {
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    width: 50%;
    margin-left: 10px;
    justify-content: center;

    h4 {
        height: 100px;
        text-align: center;
    }

    > div {
        align-items: center;
        border-radius: 10px;
        border: 1px solid $borderColor;
        box-shadow: inset 0 0 10px 0 #222222;
        display: flex;
        height: 500px;
        justify-content: center;
        padding: 10px;
        position: relative;
        width: 100%;

        img {
            position: absolute;
            max-height: 100%;
            padding: 10px;
            border-radius: 10px;
        }

        canvas {
            position: absolute;
            max-height: 100%;
            padding: 10px;
            border-radius: 10px;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .twoSectionPreview {
        flex-direction: column;
    }

    .dataSetSection {
        max-width: 100%;
        width: 100%;

        > div {
            height: 450px;
        }

        h4 {
            font-size: $font-34;
            height: 50px;
        }

        .imageArea {
            padding: 5px;
            margin: 5px;
            width: 25%;
            max-width: 135px;
        }
    }

    .queryImageSection {
        margin: 20px 0 0 0;
        max-width: 100%;
        width: 100%;

        h4 {
            height: 50px;
            font-size: $font-34;
        }

        > div {
            height: 450px;
        }
    }

    .fileUpload {
        width: 100%;
    }

    .buttonContainer {
        button {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 767px) {
    .container {
        padding: 20px 25px;
    }

    .dataSetSection {
        > div {
            height: 350px;
        }

        h4 {
            font-size: $font-24;
            height: 50px;
        }

        .imageArea {
            padding: 5px;
            margin: 5px;
            width: 45%;
            max-width: 120px;
        }
    }

    .queryImageSection {
        > div {
            height: 350px;
        }

        h4 {
            font-size: $font-24;
            height: 30px;
        }
    }

    .fileUpload {
        width: 100%;
    }

    .buttonContainer {
        button {
            width: 100%;
        }
    }
}